/*Creating style sheet for all properties of website*/
section{
  background-color: azure;
}

body{
  font-family: 'Roboto Condensed';
  font-size: 22px;
  width: auto;
}

.hero{
  background-color: black;
  height: 100vh;
  color: white;
  font-size: 40px;
}


 footer{
  height: 500px;
  background-color: whitesmoke;
 }

 nav{
   display: flex;
   justify-content: space-between;
 }

 ul{
  display: flex;
  list-style: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
 }

 li{
  text-decoration: none;
 }

 h1{
  font-size: 90px;
  margin:0;
 }

 h2{
  font-size: 50px;
 }

 h3{
  font-size: 35px;
  margin-left: auto;
  padding: 20px;
 }


 p{
  margin: 0;
  font-weight: 100;
  font-size: 30px;
 }

 .hero-area{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
 }

 .hero-text{
  margin-left: 80px;

 }

 .button{
  width: 180px;
  height: 40px;
  border-radius: 25px;
  background-color: aquamarine; 
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  padding-top: 5px;
  margin-top: 20px;
 }

 .button:hover{
  background-color: hotpink;
 }

 button:active{
  background-color: blueviolet;
 }

 .socails{
  padding: 200px;
 }

 .socail{
  margin: 10px;
 }

 .sub-section{
  display: flex;
  justify-content:space-around;
  padding: 80px;
 }

 .sub-section-alternative{
  display: grid;
  place-items: center;
  align-content: center;
  padding: 80px;
 }

 .headshot{
  width: 300px;
  border-radius: 200px;
 }

 .headshot-container{
  display: flex;
  align-items: center; 
 }

 .project-card{
  width: 200px;
  height: 500px;
  box-shadow: 5px 5px 20px grey;
 }

 .project-container{
  display: flex;
  justify-content: space-around;
 }

 a{
   text-decoration: none;
   color: white;
 }


form{
  display: grid;
  align-content: center;
  place-items: center;
  flex-direction: column;
  width: 24rem;
  gap: 1rem;
  place-items: center;
}

textarea{
  padding: 1.4rem;
  background-color: transparent;
  border: 1px solid black;
  width: 800px;
  height: 100px;
  margin-left: auto;
}

input{
  display: flex;
  justify-content: space-around;
  padding: 1.4rem;
  background-color: transparent;
  border: 1px solid
   black;
  width: 800px;
  height: 25px;
  margin-left: auto;
}


.hidden{
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

@media(prefers-reduced-motion) {
  .hidden{
    transition: none;
  } 
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.skills{
  display: grid;
  align-content: center;
  place-items: center;
  font-size: 30px;

}

.skill:nth-child(2){
  transition-delay: 300ms ;
}

.skill:nth-child(3){
  transition-delay: 600ms ;
}

.skill:nth-child(4){
  transition-delay: 900ms ;
}
